body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #0f172a;
    color: white;
}

header {
    text-align: center;
    padding: 40px;
    background: #1e293b;
}

section {
    padding: 30px;
}

h2 {
    border-bottom: 2px solid #38bdf8;
}

.skills ul {
    list-style: none;
    padding: 0;
}

.skills li {
    margin: 10px 0;
}

.card {
    background: #1e293b;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
